[submodule "inc/awesome-vim-colorschemes"]
	path = inc/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes.git
[submodule "inc/antigen"]
	path = inc/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
